@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Marmelad", sans-serif;
}
* a {
  text-decoration: none !important;
  color: rgb(40, 35, 40) !important;
}
* a:hover {
  color: #D64D00 !important;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#root .navbar {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#root .wrapper {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
}

html, body {
  width: 100%;
  height: 100%;
}

nav {
  border: 1px solid #EBEFF2;
}

.form-control:focus {
  border-color: #D64D00 !important;
  box-shadow: 0 0 4px 4px rgba(214, 77, 0, 0.3) !important;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.content-wrapper .left-side-main {
  width: 30%;
  margin-right: 20px;
  padding: 3% 8px 0 8px;
  text-align: center;
}
.content-wrapper .left-side-main:first-child button {
  width: 100%;
}
.content-wrapper .left-side-main .dropdown {
  margin-bottom: 2rem;
}
.content-wrapper .left-side-main b {
  margin-left: 3px;
}
.content-wrapper .left-side-main a {
  font-size: 18px;
}
.content-wrapper .panel {
  box-shadow: 0 0 4px 2px lightgrey;
  height: 100%;
}
.content-wrapper .main-content {
  width: 100%;
}
.content-wrapper .main-content .row:first-child {
  padding: 15px 20px;
  margin: 0;
}

.info-left-panel button {
  width: 100%;
}
.info-left-panel ul {
  width: 100%;
}

.dropdown-menu {
  display: block !important;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  height: 0;
  transition: all 0.3s;
}

.dropdown-menu.show {
  visibility: visible;
}

.show {
  overflow: visible !important;
  opacity: 1 !important;
  height: auto !important;
  transition: all 0.3s;
}

.mini-info-panel div:first-child i {
  margin-left: 2px;
}
.mini-info-panel div:last-child i {
  margin-left: 1px;
}

.auth-link:hover {
  color: #D64D00 !important;
}

.add-dashboard {
  margin: 4% auto;
  font-size: 1.1rem;
  align-self: center;
}

.user {
  margin-left: 10px;
}
.user .dropdown-item {
  padding: 0;
}
.user .dropdown-item:hover, .user .dropdown-item:focus, .user .dropdown-item:active {
  background-color: transparent;
}

.main-content .btn-login {
  margin: 20px auto;
  width: 50%;
}
.main-content .card-body {
  display: flex;
  flex-direction: column;
}
.main-content .card-users {
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #EBEFF2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 8px 5px 5px 5px;
}
.main-content .card-users img {
  width: 100%;
  height: 100%;
}

.dashboard-single {
  width: 250px;
}
.dashboard-single .dashboard-single-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.dashboard-single .dashboard-single-user div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.dashboard-single-left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.btn-participiants {
  border: none;
  background: none;
  padding: 5px;
  width: 100%;
}
.btn-participiants:hover {
  color: #D64D00;
}
.btn-participiants span {
  margin-bottom: -2px;
}

.dashboard-single-left-panel {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.dashboard-single-left-panel a {
  margin-top: 10px;
}

.desk-wrapper {
  width: 100%;
  height: 100%;
  margin-left: 30px;
  overflow: auto;
}
.desk-wrapper .wrap {
  min-width: 270px;
  max-width: 280px;
}

.desk-block {
  max-width: 270px;
  box-shadow: 0 0 4px 2px lightgrey;
  margin: 10px 15px;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: auto;
}
.desk-block .desk, .desk-block .column-modal-wrapper {
  position: relative;
  box-shadow: 0 0 3px 2px gray;
  margin-bottom: 15px;
  padding: 10px 15px;
}
.desk-block p {
  text-align: center;
}
.desk-block span {
  position: absolute;
  top: 0;
  right: 3px;
}
.desk-block time {
  font-size: 14px;
  position: absolute;
  bottom: 11px;
  left: 40px;
}

.column {
  max-width: 230px;
  margin-left: 20px;
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 7px;
}

.desk-wrapper .custom-checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #545454;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  margin-bottom: -2px;
}
.desk-wrapper .custom-checkbox:checked {
  background-color: green;
  border: 1px solid #EBEFF2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
  transition: all 0.3s;
}
.desk-wrapper .custom-checkbox:checked:after {
  content: "✔";
  font-size: 14px;
  position: absolute;
  bottom: -2px;
  left: 3px;
  color: white;
}

.desk:hover {
  cursor: move;
  box-shadow: 0 0 5px 2px #545454;
  transform: scale(1.01);
  transition: transform 0.3s;
}

.add-desk, .add-column {
  margin: 0 auto;
  padding: 6px 10px;
  border: none;
  background-color: rgb(40, 35, 40);
  border-radius: 5px;
  color: #fff;
}
.add-desk:hover, .add-column:hover {
  box-shadow: 0 0 1px 1px #545454;
}

.add-column {
  width: 170px;
  height: 40px;
  padding: 0;
  margin-left: 15px;
}

.column-modal-wrapper {
  margin-top: 10px;
  margin-left: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  position: relative;
}

.remove-column-modal {
  position: absolute;
  top: 3px;
  right: 7px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}
.remove-column-modal:hover {
  color: rgb(40, 35, 40) !important;
  transition: color 0.3s;
}

.hide {
  display: none;
}

.save-column {
  position: absolute;
  right: 0;
  top: 5px;
  width: 25px;
  background-color: gray;
  color: white;
  cursor: pointer;
}
.save-column:hover {
  background-color: #545454;
  transition: background-color 0.3s;
}

.name-dashboard {
  border-top: 1px solid #545454;
  border-bottom: 1px solid #545454;
  padding: 5px 0 5px 0;
}
.name-dashboard:hover .bi-pen-fill {
  display: block;
}
.name-dashboard .bi-pen-fill {
  display: none;
  position: absolute;
  right: 4px;
  top: 2px;
  font-size: 12px;
}
.name-dashboard .bi-pen-fill:hover {
  color: #D64D00;
  transition: color 0.3s;
  cursor: pointer;
}

.modal-desk {
  position: relative;
  width: 700px;
  height: 700px;
  text-align: center;
  border-radius: 0 8px 8px 0;
  overflow-y: auto;
  padding-bottom: 20px;
}
.modal-desk b {
  font-size: 2rem;
}
.modal-desk .users-desk {
  position: absolute;
  top: 3px;
  left: 30px;
  display: flex;
  flex-direction: row;
  width: 100px;
}
.modal-desk .users-desk img {
  height: 100%;
  width: 100%;
  transition: 0.4s;
  display: block;
}
.modal-desk .users-desk img:hover {
  transform: scale(1.2);
}
.modal-desk .users-desk span {
  border: 1px solid gray;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  padding: 3px;
  overflow: hidden;
}
.modal-desk .users-desk i {
  margin-top: 5px;
  font-size: 1.1rem;
}
.modal-desk .users-desk i:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: transform 0.2s;
}
.modal-desk .description {
  margin: 50px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.modal-desk .description textarea {
  max-height: 150px;
  overflow-y: auto;
}
.modal-desk .check-list-wrapper {
  display: flex;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid #EBEFF2;
  width: 90%;
  padding-top: 25px;
}
.modal-desk .check-list-wrapper input[type=text] {
  width: 160px;
}
.modal-desk .check-list-wrapper .save-column {
  left: 180px;
  top: -11px;
}
.modal-desk .check-list-wrapper .name-list {
  position: absolute;
  top: -11px;
  left: 25px;
  padding: 0 5px;
  border: none;
  background-clip: content-box;
}
.modal-desk .check-list-wrapper .list-tasks {
  padding: 3px;
  display: flex;
  flex-direction: column;
}
.modal-desk .check-list-wrapper .list-tasks .btn {
  margin: 15px 0 10px 5px;
  float: left;
}
.modal-desk .check-list-wrapper .list-tasks .add-task {
  width: 115px !important;
}
.modal-desk .check-list-wrapper .list-tasks label {
  display: flex;
}

.backModal {
  width: 100vw;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
}

.wrapper-modal.hide-animate {
  transform: translateY(1000px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  position: fixed;
}

.hide-slow {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: all 0.6s ease;
}

.wrapper-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
  transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}
.wrapper-modal .panel-desk {
  margin-right: 2px;
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5rem;
}
.wrapper-modal .panel-desk i:before {
  cursor: pointer;
}
.wrapper-modal .panel-desk [data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
.wrapper-modal .panel-desk [data-title]:after {
  content: attr(data-title);
  background-color: rgb(40, 35, 40);
  font-size: 60%;
  position: absolute;
  padding: 1px 5px 2px 5px;
  bottom: -1.6em;
  left: 100%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #EBEFF2;
  z-index: 99999;
  visibility: hidden;
  color: #fff;
  border-radius: 4px;
  transition: opacity 0.3s ease, visibility 0.2s ease;
}
.wrapper-modal .panel-desk [data-title] {
  position: relative;
}

.selectDate {
  padding: 10px;
  position: absolute;
  left: 6%;
  z-index: 111;
  font-size: 17px;
  border-radius: 6px;
  top: 1%;
  border: 1px solid white;
  height: auto;
  width: auto;
  max-width: 300px;
  margin-left: 22px;
}
.selectDate div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.selectDate div:first-child label {
  margin-right: 5px;
}
.selectDate div:first-child input {
  margin-right: 10px;
}
.selectDate div:last-child {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.selectDate div:last-child button:first-child {
  margin-right: 10px;
}

.output-date {
  width: 200px;
  height: auto;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 9%;
  max-height: 35px;
}
.output-date span {
  font-size: 12px;
}

.output-colors, .output-columns {
  padding: 10px;
  height: auto;
  width: auto;
  border: 1px solid white;
  display: flex;
  z-index: 111;
  flex-direction: row;
  position: absolute;
  top: 55%;
  left: 8%;
  max-width: 300px;
}
.output-colors span:not(span:first-child), .output-columns span:not(span:first-child) {
  margin-left: 8px;
}
.output-colors span:hover, .output-columns span:hover {
  cursor: pointer;
}

.output-columns {
  left: 0;
  margin-left: 22px;
  min-width: 100px;
  width: 300px;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1rem;
  max-height: 166px;
  overflow-y: auto;
  overflow-x: hidden;
}
.output-columns span {
  box-shadow: 0 0 4px 1px silver;
  padding: 5px;
  cursor: pointer;
  width: 70px;
  text-align: center;
  height: 30px;
  margin-left: 0 !important;
  overflow-x: hidden;
  overflow-y: hidden;
}
.output-columns span:hover {
  transform: scale(1.02);
  transition: transform 0.2s;
}
.output-columns span:not(span:nth-child(1)):not(span:nth-child(2)):not(span:nth-child(3)) {
  margin-top: 8px;
}

.colors-all {
  border-radius: 50%;
  border: 1px solid #EBEFF2;
  width: 30px;
  height: 30px;
}

.move-title:after, .move-title:hover:after {
  content: none !important;
}

.upload-images, .modal-files {
  padding: 30px;
  border: 1px solid #EBEFF2;
  width: 95%;
  margin: 50px auto;
  border-radius: 6px;
}
.upload-images .dropzone, .modal-files .dropzone {
  border: none;
  box-shadow: 0 0 3px 1px silver;
  height: 60px !important;
  max-height: 60px;
  overflow: auto;
}
.upload-images .dropzone:hover, .modal-files .dropzone:hover {
  background-color: rgb(40, 35, 40);
  transition: background-color 0.3s;
}
.upload-images .dropzone .dz-button, .modal-files .dropzone .dz-button {
  padding: 5px !important;
}
.upload-images .dropzone .dz-message, .modal-files .dropzone .dz-message {
  margin: 0 !important;
}
.upload-images .dropzone .dz-message button, .modal-files .dropzone .dz-message button {
  padding: 3px !important;
}

.block-images, .block-files {
  width: 90%;
  height: 300px;
  border: 1px solid #EBEFF2;
  margin: 30px 15px 0 15px;
  display: flex;
  flex-direction: column;
}
.block-images img:not(img:first-child), .block-files img:not(img:first-child) {
  margin-left: 10px;
}
.block-images .output-images, .block-images .output-images, .block-files .output-images, .block-files .output-images {
  overflow-x: hidden;
  overflow-y: auto;
}
.block-images .images, .block-files .images {
  padding: 10px 20px !important;
  margin-top: 20px;
  border: none;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
.block-images .images .dz-message, .block-files .images .dz-message {
  margin: 0 !important;
}
.block-images .images .dz-message button, .block-files .images .dz-message button {
  padding: 5px;
}

.block-files {
  width: 90%;
  height: 300px;
  border: 1px solid #EBEFF2;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 30px 15px 0 15px;
  display: flex;
  justify-content: start;
  color: white;
}
.block-files a {
  box-shadow: 0 0 3px 3px silver;
  width: 200px;
  height: 50px;
  color: white !important;
  word-wrap: break-word;
  overflow: hidden;
}
.block-files a:not(a:first-child) {
  margin-left: 20px;
}

.add-user {
  width: 500px;
  height: 150px;
  position: absolute;
  top: 5%;
  left: 2px;
  padding: 20px 5px 0 5px;
  z-index: 1;
}
.add-user input {
  margin-bottom: 15px;
}

.modal-notification {
  width: 300px;
  height: 50%;
  position: fixed;
  top: 0;
  right: 0;
  order: 111111;
  border-radius: 0 0 0 8px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.modal-notification .notif {
  border-top: 1px solid #EBEFF2;
  border-bottom: 1px solid #EBEFF2;
  padding: 5px;
}
.modal-notification .notif .notif-btns {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.modal-notification .notif .notif-btns button {
  border: none !important;
}
.modal-notification .notif .notif-btns .btn-success:hover {
  background-color: #008500 !important;
}
.modal-notification .notif .notif-btns .btn-danger:hover {
  background-color: #c40202 !important;
}
.modal-notification .notif:first-of-type {
  margin-top: 50px;
}
.modal-notification .notif + .notif {
  margin-top: 10px;
}

.count-not {
  position: absolute;
  top: 10px;
  right: -3px;
  font-size: 14px;
  color: red;
  font-weight: bold;
}

.desk-user-modal {
  width: auto !important;
  height: auto;
  padding: 30px;
  top: 4% !important;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.comments .comment {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.comments .comment img {
  width: 40px;
  height: 40px;
}
.comments .comment .info-comment {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}
.comments .comment .info-comment b {
  font-size: 14px;
  text-decoration: underline;
  font-style: italic;
  opacity: 0.8;
  text-align: left;
}
.comments .comment .info-comment span {
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 8px;
  width: 100%;
  text-align: left;
}
