.btn {
  border: 1px solid #D64D00 !important;
}
.btn:hover {
  background-color: #D64D00 !important;
  color: white !important;
  border: 1px solid #EBEFF2 !important;
}

.backend .btn-add {
  min-width: 100px;
  max-width: 200px;
  height: 40px;
  font-size: 1.2rem;
  margin-bottom: 20px;
  float: right;
}

.backend input, .backend textarea {
  color: white !important;
}
.backend .btn-danger:hover {
  background-color: #a90000 !important;
}
.backend .btn:hover {
  border-color: transparent !important;
}
.backend .btn-close {
  opacity: 1;
}
.backend .btn-close:focus {
  box-shadow: 0 0 0 0.03rem #D64D00 !important;
}

.info-left-panel button.dropdown-toggle {
  z-index: 1111;
}

.form-control:focus {
  border-color: #D64D00;
}

button:focus, .btn:focus {
  box-shadow: 0 0 4px 0.15rem #D64D00 !important;
  transition: box-shadow 0.2s;
}

.create-dashboard-window {
  margin: 0 auto;
  width: 70%;
}
.create-dashboard-window .card-body {
  display: flex;
  flex-direction: column;
}

.form-select:focus {
  border-color: #D64D00;
  box-shadow: none;
}

nav .container-fluid {
  width: 70%;
}
nav .container-fluid .navbar-nav {
  margin-right: 10px;
  max-height: 38px;
}
nav .container-fluid .navbar-nav .dropdown-menu {
  padding: 8px 5px 5px 8px;
}

.btn-disabled {
  background-color: rgba(70, 70, 70, 0.83);
  color: silver !important;
  border-color: #000000 !important;
  opacity: 0.5;
}
.btn-disabled:hover {
  background-color: rgba(70, 70, 70, 0.83) !important;
  color: silver !important;
  border-color: #000000 !important;
  opacity: 0.7;
}

.close-modal {
  font-size: 1.4rem;
  color: silver;
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  text-align: center;
  cursor: pointer;
}
.close-modal:hover {
  background-color: gray;
  color: white;
  transition: all 0.3s;
}

.toast {
  position: fixed;
  right: 0;
  bottom: 20px;
  display: block !important;
}

.notification {
  cursor: pointer;
  float: right;
  position: relative;
  margin-right: 5px;
}
.notification:hover {
  filter: drop-shadow(0 0 2px #D64D00);
  transition: filter 0.3s;
}

.read-not:focus {
  background-color: green;
  color: white;
}
.read-not:hover {
  color: lightgreen;
}
