@mixin dropdown($show: true){
    @if $show{
        overflow: visible !important;
        opacity: 1 !important;
        height: auto !important;
        transition: all .3s;
    } @else{
        overflow: hidden;
        opacity: 0;
        height: 0;
        transition:  all .3s;
    }
}
