@use "mixins" as m;
@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;

    a{
        text-decoration: none !important;
        color: $link !important;

        &:hover{
            color: $orange !important;
        }
    }
}

nav{
    border: 1px solid $border
}


.form-control{

    &:focus{
        border-color: $orange !important;
        box-shadow: 0 0 4px 4px rgba(214, 77, 0, 0.3) !important;
    }
}

.content-wrapper{
    width: 70%;
    margin: 1rem auto;

    .left-side-main{
        width: 40%;
        margin-right: 20px;
        padding: 3% 8px;
        &:first-child button{
            width: 100%;
        }

        .dropdown{
            margin-bottom: 2rem;
        }

        b{
            margin-left: 3px;
        }

        a{
            font-size: 18px;
        }
    }
    .panel{
        border: 1px solid $border;
        min-height: 500px;
    }

    .main-content{
        width: 100%;

        .row:first-child{
            padding: 15px 20px;
        }
    }
}

.info-left-panel{
    button{
        width: 100%;
    }
    ul{
        width: 100%;
    }
}

.dropdown-menu{
    display: block !important;
    @include m.dropdown(false);
}

.show{
    @include m.dropdown(true);
}

.mini-info-panel{
    div:first-child i{
        margin-left: 2px;
    }

    div:last-child i{
        margin-left: 1px;
    }
}

.auth-link{

    &:hover{
        color: $orange !important;
    }
}

.add-dashboard{
    margin: 4% auto;
}
