@import "variables";

.btn{
    border: 1px solid $orange !important;
    &:hover{
        background-color: $orange !important;
        color: white !important;
        border: 1px solid $border !important;
    }
}

.backend .btn-add{
    min-width: 100px;
    max-width: 200px;
    height: 40px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    float: right;
}

.backend {

    input, textarea{
        color: white !important;
    }

    .btn-danger:hover{
        background-color: #a90000 !important;
    }

    .btn:hover{
        border-color: transparent !important;
    }

    .btn-close{
        opacity: 1;

        &:focus{
            box-shadow: 0 0 0 .03rem $orange !important;
        }
    }
}


.info-left-panel button.dropdown-toggle{
    z-index: 1111;
}

.form-control{

    &:focus{
        border-color: $orange;
    }
}

button, .btn{
    &:focus{
        box-shadow: 0 0 4px 0.15rem $orange !important;
        transition: box-shadow .2s;
    }
}

.create-dashboard-window{
    margin: 0 auto;
    width: 70%;
    .card-body{
        display: flex;
        flex-direction: column;
    }
}

.form-select{

    &:focus{
        border-color: $orange;
        box-shadow: none;
    }
}

nav .container-fluid{
    width: 70%;

    .navbar-nav{
        margin-right: 10px;
        max-height: 38px;

        .dropdown-menu{
            padding: 8px 5px 5px 8px;
        }
    }
}

.btn-disabled{
    background-color: $dark-gray;
    color: silver !important;
    border-color: $black !important;
    opacity: 0.5;
    &:hover{
        background-color: $dark-gray !important;
        color: silver !important;
        border-color: $black !important;
        opacity: 0.7;
    }
}

.close-modal{
    font-size: 1.4rem;
    color: silver;
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    text-align: center;
    cursor: pointer;

    &:hover{
        background-color: gray;
        color: white;
        transition: all .3s;
    }
}

.toast{
    position: fixed;
    right: 0;
    bottom: 20px;
    display: block !important;
}
