$font-family: 'Marmelad', sans-serif;
$orange: #D64D00;
$black: #000000;
$b3: #545454;
$border: #EBEFF2;
$dark-gray: rgba(70, 70,70,83%);
$link: rgb(40, 35, 40);
$red: rgb(224, 6, 6);
$white: #fff;
$gray: #545454;
$gray-600: #6c757d;
$secondary: $gray-600;
